/**
 * A Symphony extension enabling addition of documentation 
 * to any page in the back end, including user-defined 
 * section indexes and entry editors.
 *
 * @author: Craig Zheng, https://github.com/czheng
 * 			additions by Johanna Hörrmann, huhu@johannahoerrmann.de
 *          and by Nils Hörrmann, post@nilshoerrmann.de
 * @source: https://github.com/czheng/documenter
 */

body {
	background: rgba(46, 46, 42, 1);
}

#wrapper { 
	overflow: hidden;
	background: #fff;
}

#wrapper.documenter {
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

#documenter-pagelist {
	height: 46em;
}

/*================================================
	BUTTONS
================================================*/

a.documenter.button {
	position: absolute;
	top: 16px;
	right: 19px;
	border-radius: 1em;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	font-weight: normal;
	font-size: 11px;
	border: 1px solid rgba(186, 192, 179, 0.2);
	background: #2a2a26;
	color: rgba(255, 255, 255, 0.7);
	text-decoration: none;
	z-index: 2000;
}

a.documenter.button.active {
	border: 1px solid rgba(155, 155, 155, 0.2);
	position: absolute;
	top: 16px;
	right: 19px;
	height: 15px;
	line-height: 1;
	padding: 2px 5px 1px;
	margin: 2px 0;
}

a.documenter.button:hover {
	color: #fff;
	border-color: rgba(155, 155, 155, 0.5);
}

#documenter-drawer a.documenter.toggle {
	position: absolute;
	top: 5px;
	right: 0;
	border: 1px solid rgba(155, 155, 155, 0.2);	
	border-radius: 1em;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	font-weight: normal;
	font-size: 11px;
	background: #2a2a26;
	color: rgba(255, 255, 255, 0.7);
	text-decoration: none;
	height: 15px;
	line-height: 1;
	margin: 2px 0;
	padding: 1px 6px 2px 8px;
}

#documenter-drawer a.documenter.toggle:hover {
	color: #fff;
	border-color: rgba(155, 155, 155, 0.5);
}

#documenter-drawer a.documenter.toggle span {
	display: block;
	font-size: 13px;
}

#documenter-drawer a.documenter.toggle.open {
	padding: 3px 5px 0 9px;
}

#documenter-drawer a.documenter.toggle.open span {
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);	
}

/*================================================
	DRAWER
================================================*/

#documenter-drawer {
	z-index: 0;
	float: right;
	font: 100%/1.5 Lucida Grande,Leelawadee,Tahoma,Verdana,sans-serif;
	white-space: normal;
	text-transform: none;
	width: 0;
	display: block;
	text-shadow: -1px 2px 3px rgba(39, 39, 38, 0.5);
	color: #b2b2b2;
	padding: 0;
	overflow: hidden;
	line-height: 1.6;
}

/*================================================
	DRAWER HEADINGS
================================================*/

#documenter-drawer h2 {
	margin: 3em 19px 1.2em;
	padding: 0 0 1.2em 0;
	color: #fff;
	border: none;
	padding: 0;
}

#documenter-drawer h2#documenter-title {
	margin: 21px 19px 1.2em;
	border: none;
	padding: 0 25px 0 0;
	width: 256px;
}

#documenter-drawer .documenter-content h1, 
#documenter-drawer .documenter-content h2, 
#documenter-drawer .documenter-content h3 {
	text-shadow: -1px 2px 3px rgba(39,39,38,0.5);
	background: transparent;
	border-bottom: 1px solid rgba(219,219,219,0.1);
	margin: 0;
	padding: 1em 0 0.5em;
	position: relative;
	color: #e5e5e5;
	cursor: pointer;
	font-size: 1em;
	font-weight: bold;
}

#documenter-drawer .documenter-content h1, 
#documenter-drawer .documenter-content h2 {
	margin-bottom: 1em; 
}

#documenter-drawer .documenter-content h4 {
	margin: 0;
	border: none;
	text-shadow: -1px 2px 3px rgba(39,39,38,0.5);
	background: transparent;
	padding: 0 0 0.5em;
}


/*================================================
	DRAWER CONTENT 
================================================*/

#documenter-drawer .documenter-content {
	margin: 0 19px 19px;
	border-top: 1px solid rgba(219, 219, 219, 0.1);
	padding: 0;
	width: 262px;
}

#documenter-drawer a {
	color: #d5d5c7;
	text-decoration: underline;
}

#documenter-drawer a:hover {
	color: #fff;
}

#documenter-drawer ul {
	list-style-type: disc;
}

#documenter-drawer ol {
	list-style-type: none;
	counter-reset: section;
}

#documenter-drawer ol li {
	counter-increment: section;
}

#documenter-drawer ol li:before {
	content: counters(section, ".") ". ";
}

#documenter-drawer ul, 
#documenter-drawer ol {
	margin: 0 0 1.5em 0;
	list-style-position: inside;
}

#documenter-drawer ul li li, 
#documenter-drawer ol li li {
	margin-left: 1.5em;
}

#documenter-drawer dt {
	font-weight: bold;
}

#documenter-drawer dd {
	margin-bottom: 1em;
}

#documenter-drawer code {
	border: 1px solid #20201d;
	background: #242421;
	color: #a7a7a6;
	font-size: 1em;
	padding: 0 0.3em;
	margin: 0 0.1em;
}

#documenter-drawer div.note {
	border: 1px solid #20201d;
	background: #242421;
	color: #a7a7a6;
	padding: 0.5em;
	margin: 2em 0 1.5em -0.5em;
}

#documenter-drawer div.block {
	margin: 1em 0 2em;
}

#documenter-drawer div.documenter-content p:first-child,
#documenter-drawer div.documenter-content ul:first-child,
#documenter-drawer div.documenter-content ol:first-child {
	padding-top: 19px;
}

#documenter-drawer div.block p:first-child,
#documenter-drawer div.block ul:first-child,
#documenter-drawer div.block ol:first-child {
	padding-top: 0;
}

#documenter-drawer div.block p:last-child,
#documenter-drawer div.block ul:last-child,
#documenter-drawer div.block ol:last-child {
	margin-bottom: 0;
}


/*================================================
	DRAWER TABLES 
================================================*/

#documenter-drawer th:first-child, 
#documenter-drawer td:first-child {
	padding-left: 19px;
}

#documenter-drawer table {
	margin-bottom: 1.5em;
	border-collapse: collapse;
}

#documenter-drawer th {
	color: #fff;
	font-weight: bold;
	text-align: left;
}

#documenter-drawer td {
	border-color: #333;
	border-width: 1px 0;
	padding: 0.67em 19px 0.67em 0;
}

#documenter-drawer tr:nth-child(2n+1) td {
	background-color: #3a3a3a;
}

/*================================================
	DRAWER OTHER
================================================*/

#documenter-drawer blockquote {
	margin: 1.5em;
	color: #aaa;
}
